/* overrides */

.row {
  position: relative;
}

.well {
  background: #222;
  border-radius: 0;
}

hr {
  border-color: #444;
}

#left .btn-group-vertical {
  width: 100%;
}
.btn-group-vertical > .btn {
  text-align: left;
  border-radius: 0 !important;
}

.btn {
  font-weight: bold;
  position: relative;
  border: none;
  border-radius: 2;
}
.btn-primary {
  background-color: #333;
}
.btn-primary.active, .btn-primary:hover {
  background-color: #252525;
  border-color: #222;
}
.btn-success {
  background-color: #088c9c;
}
.btn-success.active, .btn-success:hover {
  background-color: #04707e;
}

.btn-group .btn.btn-primary {
  border-left: 1px solid #2e2e2e;
}
.btn-group .btn.btn-primary:first-child {
  border-left: none;
}

#left .btn-primary {
  background-color: transparent;
  color: #ddd;
}
#left .btn-primary:hover {
  background-color: #292929;
}
#left .btn-primary.active {
  background-color: #303030;
  box-shadow: none;
  -webkit-box-shadow: none;
  color: #fff;
}

.btn .fa {
  margin-right: 0.3em;
}

.dropdown-menu>li>a:hover strong,
.dropdown-menu>li>a:focus strong {
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;  /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.04);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}

.form-control {
  color: #ddd;
  background-color: #222;
  border: 1px solid #333;
  border-radius: 2px;
}
.form-control:focus {
  border-color: #3c6ec0;
}
.input-group-addon {
  font-size: 20px;
  line-height: 19px;
  color: #ddd;
  background-color: #1a1a1a;
  border: 1px solid #333;
  border-radius: 2px;
}

table>thead{
  font-size: 0.7em;
  text-transform: uppercase;
  color: #aaa;
}

.table-bordered,
.table-bordered tr {
  border: 1px solid #2d2d2d;
}
.table-bordered>tbody>tr:hover,
.table-bordered>tbody>tr:hover>td {
  background: #222;
}
.table-bordered tr.active {
  background: #333;
}
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td {
  border: none;
}

/* classes */

.btn-round {
  border-radius: 1000px;
  padding-left: 22px;
  padding-right: 22px;
}

.no-margin {
  margin: 0;
}

.pull-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.currency.small {
  font-size: 12px;
}

.alt {
  font-size: 0.78em;
  color: #76828e;
}

.tiny {
  font-size: 13px;
}

.symbol {
  margin-right: 2px;
  font-weight: bold;
}

.label.super {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 10px;
  padding: 3px 6px;
  text-align: center;
}

.coin {
  width: 100%;
  min-height: 100px;
  margin: 0;
  border-bottom: 1px solid #262626;
  padding: 14px 20px;
  position: relative;
}

.coin h3 {
  font-weight: normal;
  font-size: 22px;
  display: inline-block;
}

.coin .balance {
  font-size: 20px;
  margin-bottom: 10px;
}

.coin .balance .pending .symbol {
  color: #76828e;
}

.coin .pairs {
  font-size: 16px;
}

.coin .logo {
  width: 30px;
  margin-right: 6px;
  position: relative;
  top: -2px;
}

.coin .buttons {
  position: relative;
  top: -55px;
}

.ticker {
  width: 100%;
  height: 140px;
  border-bottom: 1px solid #333;
  padding: 6px 10px;
  position: relative;
  margin: 6px 0;
}
.ticker .chart {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
}
.ticker .chart .line {
  stroke: #5ce;
  stroke-width: 2.5;
  fill: none;
}
.ticker .last {
  position: absolute;
  right: 10px;
  font-size: 25px;
  top: 3px;
}
.ticker .change {
  position: absolute;
  right: 10px;
  top: 30px;
}
.ticker .pair {
  color: #76828e;
}

@-webkit-keyframes progress-bar-stripes{
  from {
    background-position:80px 0
  } to {
    background-position:0 0
  }
}
@keyframes progress-bar-stripes{
  from {
    background-position:80px 0
  } to {
    background-position:0 0
  }
}

.coin .progress {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -10;
  border-radius: 0;
  background: transparent;
}
.coin .progress > .progress-bar {
  background-size: 80px 80px;
}

.coin .sync {
  color: #76828e;
  font-size: 16px;
  vertical-align: bottom;
}

/* layout */

body {
  height: 100%;
  overflow: hidden;
  color: #ccc;
  font-size: 18px;
  padding: 0;
  background: #111;
}

h1, h2, h3, h4, h5, h6, strong {
  color: #ddd;
  margin-top: 0;
}
h4, h5, h6 {
  text-transform: uppercase;
  font-size: 0.72em;
  color: #aaa;
}

header, footer, #left, #right {
  background: #222;
  border-radius: 0;
  margin: 0;
}

header, footer {
  width: 100%;
  color: #ddd;
  left: 0;
  border: 1px solid #333;
  border-left: none;
  border-right: none;
}

header {
  padding: 8px;
  padding-top: 12px;
  top: 0;
  height: 48px;
}

header .lower {
  margin-top: 14px;
}

header .right {
  font-size: 16px;
}
header .right .avatar {
  position: absolute;
  top: 4px;
  left: 5px;
  border: 1px solid white;
}
header .right .avatar {
  width: 34px;
}
header .right .avatar-clear {
  width: 28px;
  display: inline-block;
}

#left, #right {
  background-color: #1b1b1b;
}

#left .upper {
  padding: 18px;
  text-align: center;
}
#left .balance {
  font-size: 25px;
}
#left .balance .symbol {
  font-weight: normal;
}

#left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 240px;
}

.body {
  position: fixed;
  top: 48px;
  bottom: 45px;
  width: 100%;
}

.body > div {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

#main {
  left: 240px;
  right: 240px;
  background: #111;
}

#right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 240px;
}

#right > .tickers {
  height: 68%;
}

#right > .orders {
  height: 32%;
  padding: 12px;
}

#right > div {
  overflow: auto;
  width: 100%;
}

footer {
  width: 100%;
  bottom: 0;
  padding: 12px;
  font-size: 15px;
  color: white;
  position: fixed;
}

table.transactions {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
}
table.transactions tr td:first-child {
  padding-left: 38px;
}
table.transactions tr td:last-child {
  padding-right: 38px;
}
table.transactions td {
  padding: 6px;
  font-size: 16px;
}

.dropdown-toggle {
  width: 100%;
  padding: 0.4em 0;
  border-radius: 5px;
  display: block;
  background: #333;
}

.dropdown-coin {
  width: 132px;
  line-height: 50px;
  text-align: center;
}
.dropdown-coin .dropdown-toggle {
  background-color: #333;
  font-size: 30px;
  font-weight: bold;
}
.dropdown-coin a {
  cursor: pointer;
}
.dropdown-menu {
  background-color: #444;
}

.trade-pair .separator {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.trade .type {
  font-weight: bold;
}
.trade .type.buy {
  color: green;
}
.trade .type.sell {
  color: red;
}
.trade .cancel {
  position: absolute;
  bottom: 0;
}

.receive .qr {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
}

.address .btn:active {
  background-color: #8aa;
}
.address>input.form-control.value {
  background-color: #222;
}

.send .error {
  margin-bottom: 8px;
  display: none;
}
.send .has-error .error {
  display: block;
}

.mercury-logo {
  position: relative;
  top: -5px;
}
.mercury-logo, .mercury-logo img {
  width: 32px;
}

.orders>ul.list>.order {
  background: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #444;
  padding: 2px;
}