/* overrides */

.btn {
  font-weight: bold;
  position: relative;
}

/* classes */

label {
  font-size: 20px;
  font-weight: bold;
}

.currency.small {
  font-size: 12px;
}

.alt {
  font-size: 0.618em;
  color: #76828e;
}

.label.super {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 10px;
  padding: 3px 6px;
  text-align: center;
}


/* layout */

body {
  height: 100%;
  overflow: hidden;
}

header, footer {
  width: 100%;
  position: fixed;
  left: 0;
  background: #ecf0f1;
}

header {
  padding: 16px;
  padding-top: 12px;
  top: 0;
  height: 120px;
}

header .lower {
  margin-top: 14px;
}

header .right {
  font-size: 16px;
}
header .right .avatar {
  position: absolute;
  top: 4px;
  left: 5px;
  border: 1px solid white;
}
header .right .avatar {
  width: 34px;
}
header .right .avatar-clear {
  width: 28px;
  display: inline-block;
}

header .balance {
  font-size: 25px;
}

.body {
  position: fixed;
  top: 120px;
  bottom: 45px;
  width: 100%;
  overflow-y: auto;
}

.content {
  margin: 6px 32px;
}

footer {
  bottom: 0;
  padding: 12px;
}

table.transactions {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
}
table.transactions tr td:first-child {
  padding-left: 38px;
}
table.transactions tr td:last-child {
  padding-right: 38px;
}
table.transactions td {
  padding: 6px;
  font-size: 16px;
}