<!DOCTYPE html>
<html>
<head>
    <title>Mercury</title>
    <link rel="stylesheet" href="css/lato.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header>
    <div class="left pull-left">
      <div class="mercury-logo"></div>
    </div>

    <div class="right pull-right">
      <ul>
        <li class="btn btn-primary"><i class="fa fa-envelope fa-lg"></i><span class="label label-danger super">4</span></li>
        <li class="btn btn-primary"><i class="fa fa-cog fa-lg"></i></li>
      </ul>
    </div>
  </header>

  <section class="body">
    <div id="left"></div>
    <div id="main"></div>
    <div id="right"></div>
  </section>

  <footer>
    <span><i class="fa fa-signal text-success"></i>&nbsp;&nbsp;Connected</span>
  </footer>

  <script type="text/template" id="template-ticker">
    <svg class="chart"></svg>
    <span class="pair"><%= pair.join('/') %></span>
    <span class="last"><%= last %></span>
    <span class="change <%= (change > 0) ? 'text-success' : (change < 0) ? 'text-danger' : 'text-warning' %>">
      <i class="fa fa-lg <%= (change > 0) ? 'fa-caret-up' : (change < 0) ? 'fa-caret-down' : 'fa-minus' %>"></i>
      <span>&nbsp;<%= change %>%</span>
    </span>
  </script>
  <script type="text/template" id="template-navbar">
    <div class="upper">
      <span class="balance"><i class="fa fa-bitcoin symbol"></i><%= balance %></span>
    </div>
    <hr class="no-margin">
    <div class="lower">
      <div class="btn-group-vertical" data-toggle="buttons-radio">
        <a href="#" class="home btn btn-primary <%= page.id === 'home' ? 'active' : '' %>"><i class="fa fa-home"></i> Home</a>
        <a href="#transactions" class="transactions btn btn-primary <%= page.id === 'transactions' ? 'active' : '' %>"><i class="fa fa-list"></i> Transactions</a>
        <a href="#data" class="data btn btn-primary <%= page.id === 'data' ? 'active' : '' %>"><i class="fa fa-bar-chart-o"></i> Data</a>
      </div>
    </div>
  </script>
  <script type="text/template" id="template-transactions">
    <br>
    <div class="row">
      <table class="table table-bordered table-striped table-hover col-xs-12">
        <thead>
          <tr class="small"><td></td><td>Coin</td><td>Amount</td><td>Date</td><td>Transaction</td><td></td></tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </script>
  <script type="text/template" id="template-transactions-row">
  <% var explorerUrl = {
    btc: 'https://blockchain.info/tx/',
    ltc: 'http://block-explorer.com/tx/',
    doge: 'http://dogechain.info/tx/',
    btct: 'https://www.biteasy.com/testnet/transactions/',
    ltct: 'https://chain.so/tx/LTCTEST/'
  }[coin.toLowerCase()] + id %>
    <td class="text-center">
      <i class="fa <%= !depth ? 'fa-asterisk text-warning' : depth < 6 ? 'fa-clock-o text-info' : 'fa-check text-success' %>"></i>
    </td>
    <td class="small"><%= coin %></td>
    <td class="small text-<%= value > 0 ? 'success' : 'danger' %>"><%= (value > 0 ? '+' : '') + value %></td>
    <td class="small"><%= window.moment(date).format('l H:mm') %></td>
    <td class="small"><span class="text-<%= value > 0 ? 'success' : 'danger' %>"><i class="fa fa-sign-<%= value > 0 ? 'in' : 'out' %>"></i> <%= value > 0 ? 'Received' : 'Sent' %></span><strong><%= address !== 'self' ? ' ' + (value < 0 ? sent : value) : '' %> <%= coin %></strong> <%= value > 0 ? 'with' : 'to' %> <%= address %></td>
    <td class="small"><button class="btn btn-link btn-sm" onClick="desktop.browse('<%= explorerUrl %>')"><i class="fa fa-external-link"></i></button></td>
  </script>
  <script type="text/template" id="template-receive">
    <br>
    <div class="row col-xs-9 col-xs-push-2">
      <h2>Receive Coins</h2><br>
      <div class="dropdown dropdown-coin pull-left">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="value">BTC</span> <span class="caret"></span></a>
        <ul class="dropdown-menu"></ul>
      </div>

      <div class="pull-right qr"></div>
      <div style="clear:both"></div>
    </div>
    <br>
    <div class="row col-xs-9 col-xs-push-2">
      <div class="input-group col-xs-12 address">
        <span class="btn btn-primary generate input-group-addon"><i class="fa fa-refresh"></i></span>
        <input type="text" class="form-control value" onClick="this.setSelectionRange(0, this.value.length)" readonly>
        <span class="btn btn-default input-group-addon copy"><i class="fa fa-copy"></i></span>
      </div>
    </div>
  </script>
  <script type="text/template" id="template-trade">
    <br>
    <div class="row">
      <div class="col-xs-8">
        <div class="row trade-pair">
          <div class="col-xs-2 col-xs-push-2"><div class="dropdown dropdown-coin pull-left">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="value"></span> <span class="caret"></span></a>
            <ul class="dropdown-menu"></ul>
          </div></div>
          <div class="separator col-xs-2 col-xs-push-3">/</div>
          <div class="col-xs-2 col-xs-push-4"><div class="dropdown dropdown-coin pull-right">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="value"></span> <span class="caret"></span></a>
            <ul class="dropdown-menu"></ul>
          </div></div>
        </div>
        <br><br>
        <div class="row">
          <div class="form well">
            <div class="row">
              <div class="btn-group col-xs-12 buysell" data-toggle="buttons-radio">
                <button class="btn btn-default buy active">Buy</button>
                <button class="btn btn-default sell">Sell</button>
              </div>
            </div>
            <hr>
            <div class="row values">
              <div class="form-group col-xs-4 price">
                <label>Price</label>
                <div class="input-group">
                  <span class="input-group-addon symbol"></span>
                  <input class="form-control" type="text" placeholder="0.00">
                </div>
              </div>
              <div class="form-group col-xs-4 quantity">
                <label>Quantity</label>
                <div class="input-group">
                  <span class="input-group-addon symbol"></span>
                  <input class="form-control" type="text" placeholder="0.00">
                </div>
                <span class="tiny">
                  <strong>Balance:</strong> <span class="symbol"><%= symbols[0] %></span><%= balances[0] %>
                </span>
              </div>
              <div class="form-group col-xs-4 total">
                <label>Total</label>
                <div class="input-group">
                  <span class="input-group-addon symbol"></span>
                  <input class="form-control" type="text" placeholder="0.00">
                </div>
                <span class="tiny">
                  <strong>Balance:</strong> <span class="symbol"><%= symbols[1] %></span><%= balances[1] %>
                </span>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-xs-12 text-center overview">
                <p>You will <span class="type"></span> <strong><span class="quantity"></span> <span class="alt"></span></strong></p>
                <p>for <strong><span class="total"></span> <span class="alt"></span></strong></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-xs-12">
                <button class="btn btn-lg btn-success pull-right accept">Accept Trade</button>
                <button class="btn btn-default pull-right cancel">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <h4>Open Orders</h4>
        <ul class="list-group orders"> </ul>
      </div>
    </div>
  </script>
  <script type="text/template" id="template-trade-order">
    <li class="list-group-item order">
      <span class="small"><%= currencies.join('/').toUpperCase() %></span><br>
      <strong class="small"><span class="type" style="color: <%= bid ? 'green' : 'red' %>"><%= bid ? 'Buy' : 'Sell' %></span> <%= symbols[0] %><%= amount %> <span class="alt">@</span> <%= symbols[1] %><%= price %> </strong>
      <button class="btn btn-sm btn-link cancel" data-id="<%= id %>">Cancel</button>
    </li>
  </script>
  <script type="text/template" id="template-coinview">
    <div>
      <img class="logo" src="images/<%= id.toLowerCase() %>.png">

        <h3><%= name %><span class="alt"> - <%= id %></span></h3>

      <% if(synced) { %>
        <div class="balance"><strong class="symbol"><%= symbol %></strong><%= balance %> <span class="pending alt <%= pending === '0' ? ' hidden' : '' %>">(<strong class="symbol"><%= symbol %></strong><%= pending %> pending)</span></div>
        <div style="display:none">
          <hr>
          <div class="btn-group">
            <a href="#trade/<%= id %>" class="btn btn-success trade"><i class="fa fa-exchange"></i> Trade</a>
          </div>
          <div class="btn-group">
            <a href= "#send/<%= id %>" class="btn btn-success send"><i class="fa fa-arrow-right"></i> Send</a>
            <a href="#receive/<%= id %>" class="btn btn-success receive"><i class="fa fa-arrow-left"></i> Receive</a>
          </div>
          <div class="btn-group">
            <button class="btn btn-primary transactions"><i class="fa fa-list"></i> Transactions</button>
          </div>
        </div>
      <% } else if(connected) { %>
        <br>
        <div class="progress progress-striped active">
          <div class="progress-bar" role="progressbar"></div>
        </div>
        <span><i class="fa fa-clock-o text-info symbol"></i> Syncing blockchain...</span>
        <% if(typeof syncBlocks !== 'undefined') { %>
          <span class="sync pull-right">Block <span class="sync-blocks">0</span> / <%= syncBlocks %> - <span class="sync-date"></span></span>
        <% } %>

      <% } else { %>
        <p><i class="fa fa-clock-o text-warning symbol"></i> Connecting to network...</p>

      <% } %>
    </div>
  </script>
  <script type="text/template" id="template-send">
    <br>
    <div class="row col-xs-8 col-xs-push-2">
      <h2>Send Coins</h2><br>
    </div>
    <br>
    <div class="col-xs-8 col-xs-push-2">
      <div class="row">
        <div class="address col-xs-12">
          <label>Address</label>
          <div class="text-danger error small">The provided address is invalid.</div>
          <div class="input-group">
            <input type="text" class="form-control value" placeholder="Enter an address to send to">
            <span class="btn btn-default input-group-addon paste"><i class="fa fa-paste"></i></span>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="amount col-xs-7">
          <label>Amount<span class="alt hidden"> - (<span class="currency"></span>)</span></label>
          <div class="text-danger error small">The provided amount is invalid.</div>
          <div class="input-group">
            <span class="input-group-addon symbol"><i class="fa fa-btc"></i></span>
            <input type="text" class="form-control value" placeholder="0.00">
          </div>
        </div>
        <div class="col-xs-5 pull-bottom-right">
          <button class="btn btn-lg btn-info send pull-right"><i class="fa fa-lg fa-sign-out fa-white"></i> Send <span class="currency"></span></button>
        </div>
      </div>
    </div>
  </script>

  <script src="js/jquery-2.0.2.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/underscore-min.js"></script>
  <script src="js/backbone-min.js"></script>
  <script src="js/qrcode.min.js"></script>
  <script src="js/moment.min.js"></script>
  <script src="js/d3.js"></script>
  <script src="js/main.js"></script>
  <script src="js/models/Coin.js"></script>
  <script src="js/models/Trade.js"></script>
  <script src="js/models/Transaction.js"></script>
  <script src="js/models/Ticker.js"></script>
  <script src="js/views/CoinView.js"></script>
  <script src="js/views/TradeView.js"></script>
  <script src="js/views/ReceiveView.js"></script>
  <script src="js/views/TransactionsView.js"></script>
  <script src="js/views/SendView.js"></script>
  <script src="js/views/NavbarView.js"></script>
  <script src="js/views/TickerView.js"></script>
</body>
</html>